/* ./app/static/css/explorer.css */

#file-explorer {
  overflow-y: auto;
  height: 100%;
}

#directory-list,
.nested-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#directory-list li,
.nested-list li {
  cursor: pointer;
  padding: 5px 10px;
}

#save-file {
  top: 63px;
  right: 38px;
  position: absolute;
}

#content-area {
  resize: none;
  padding: 20px;
  font-family: monospace;
  font-size: 14px;
}

.nested-list {
  list-style-type: none;
}

.toggle-icon {
  width: 16px;
  text-align: center;
  transition: transform 0.2s;
}

.folder-icon {
  margin-right: 8px;
}

.file-item i {
  margin-right: 8px;
}

.toggle-icon,
.folder-icon {
  user-select: none;
}

.selected-file {
  color: #0f5132;
}

.select-icon,
.deselect-icon {
  margin-top: 2px;
  float: right;
  cursor: pointer;
  display: none;
}

.file-item:hover .select-icon,
.file-item:hover .deselect-icon {
  display: inline;
}

.select-icon {
  color: #0d6efd;
}

.deselect-icon {
  color: #dc3545;
}

.file-item {
  position: relative;
  padding-right: 30px;
}

.file-item:hover {
  background-color: #f0f0f0;
}

.select-icon,
.deselect-icon {
  transition: opacity 0.2s;
}
