{# ./app/templates/index.html #} {% extends "base.html" %} {% block title %}File Explorer{% endblock %} {% block head_extra %}
<link href="{{ url_for('static', filename='css/explorer.css') }}" rel="stylesheet" />
{% endblock %} {% block sidebar %}
<div class="d-flex justify-content-between align-items-center p-2 border-bottom">
  <h5>Explorer</h5>
  <div>
    <button class="btn btn-sm btn-secondary" id="clear-selection" title="Clear All Selected Files"><i class="fa fa-broom"></i></button>
    <button class="btn btn-sm btn-success" id="list-files" title="Add file list to prompt"><i class="fa fa-list"></i></button>
    <button class="btn btn-sm btn-primary" id="select-folder" title="Select Folder to Open"><i class="fa fa-folder-open"></i></button>
  </div>
</div>
<ul class="list-group list-group-flush" id="directory-list">
  <!-- Dynamically populated -->
</ul>
{% endblock %} {% block content %}
<textarea class="form-control h-100" id="content-area" readonly></textarea>
{% endblock %} {% block scripts_extra %}
<script src="{{ url_for('static', filename='js/explorer.js') }}"></script>
<script>
  const LAST_PATH = {{ last_path | tojson | safe }};
  const SELECTED_FILES = {{ selected_files | tojson | safe }};
  console.log('LAST_PATH:', LAST_PATH);
  console.log('SELECTED_FILES:', SELECTED_FILES);

  document.getElementById('clear-selection').addEventListener('click', function() {
    // Add logic to clear selected items
    console.log('Clear selection button clicked');
  });
</script>
{% endblock %}
